@model List<GerenciadorTarefas.Models.Tarefa>

<div class="d-flex justify-content-between align-items-center">
  <h2 class="d-inline">Tarefas</h2>
  <i id="toggle-theme" class="bi bi-sun-fill" role="button" tabindex="0"></i>
</div>

<form id="form-task" class="input-group mt-2 mb-3" onsubmit="adicionarTarefa(event)">
  <input type="text" class="form-control" id="input-task" placeholder="Escreva uma tarefa..."
    aria-label="Escrever tarefa" aria-describedby="btn-add-task" autocomplete="off">
  <button class="btn btn-primary" type="submit" id="btn-add-task">Adicionar</button>
</form>

<div class="tasks-bg">

  @foreach (var t in Model)
  {
    <div class="form-check">
      <label class="form-check-label w-100" for="check-task-@t.Id">
        <input class="form-check-input" type="checkbox" value="" data-id="@t.Id" @(t.Concluida ? "checked" : "")>
        <div class="d-flex justify-content-between align-items-center">
          <span class="task-title @(t.Concluida ? "checked" : "")">@t.Titulo</span>
          <i id="btn-delete-task" class="bi bi-x cursor-pointer" role="button" tabindex="0" aria-label="Excluir tarefa" data-id="@t.Id"></i>
        </div>
      </label>
    </div>
  }

</div>